.oil-and-gas {
	position: relative;
	background-image: url("../img/oilandgas.jpg");
	background-position: 50% -20%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-attachment: fixed;
	background-repeat: no-repeat;
	@include background-size(cover);
	.list-group-flush {
		@media only screen and (min-width: 992px){
			text-align: left;
		}
		li {
			color: $white !important;
			&:hover {
				cursor: pointer;
				color: $primary !important;
			}
		}
	}
	.oil-items-wrapper {
		.img-thumbnail {
			background-color: transparent;
			border: 0;
		}
		a {
			color: $white !important;
			font-size: 16px;
			font-weight: normal !important;
		}
	}
	text-align: center !important;
}
